.App {
  width: 900px;
  margin: 50px;
  margin: rgb(11, 11, 76);
  justify-content: center;
}

.header-container {

  width: 80vw;
  display: flex;
  
}
.header-container > div:first-child{
 flex: 1;
 text-align: center;
}
.editor-container {
  border: 2px solid rgb(25, 25, 161);
  cursor: text;
  font-size: 16px;
  height: 80vh;
  width: 80vw;
  padding: 10px;
  margin-top: 10px;

}